heroku_account_email  = "example@domain.com"
heroku_api_key        = "heroku_api_key_here"
heroku_pipeline_name  = "terraform-heroku"
heroku_organization   = "team-name"
heroku_team_id        = "team_id"
heroku_region         = "the_region"
heroku_app_buildpacks = [
  "heroku/ruby"
]

heroku_staging_app                   = "terraform-heroku-staging"
heroku_staging_database              = "heroku-postgresql:hobby-dev"
heroku_staging_scheduler             = "scheduler:standard"
heroku_staging_bugsnag               = "heroku_staging_bugsnag_token"
heroku_staging_bugsnag_release_stage = "heroku_staging_bugsnag_release_stage"
heroku_staging_auth0_domain          = "heroku_staging_auth0_domain"
heroku_staging_auth0_audience        = "heroku_staging_auth0_audience"
heroku_staging_origin                = "heroku_staging_origin_addresses"

kounta_client_secret         = "kounta_client_secret"
kounta_client_id             = "kounta_client_id"
kounta_url                   = "kounta_staging_url"
kounta_company_id            = "1234"
kounta_site_id               = "4321"
kounta_tyro_id               = "3241"
kounta_signature_token       = "kounta_signature_token"
tyro_public_key              = "tyro_public_key"
tyro_secret_key              = "tyro_secret_key"

heroku_production_app                   = "terraform-heroku-production"
heroku_production_database              = "heroku-postgresql:hobby-basic"
heroku_production_scheduler             = "scheduler:standard"
heroku_production_bugsnag               = "heroku_production_bugsnag_token"
heroku_production_bugsnag_release_stage = "heroku_production_bugsnag_release_stage"
heroku_production_auth0_domain          = "heroku_production_auth0_domain"
heroku_production_auth0_audience        = "heroku_production_auth0_audience"
heroku_production_origin                = "heroku_production_origin_addresses"
